# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("assignmentfour.csv")

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [3]:
#Check for Null Values
NullCheck=df.isnull().sum()
print(NullCheck)

#No Null, Review summarized overview
SummaryOverview=df.describe()
print(SummaryOverview)

Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64
       Marital status  Application mode  Application order       Course  \
count     4424.000000       4424.000000        4424.000000  4424.000000
mean         1.178571          6.886980           1.727848     9.899186
std          0.605747          5.298964           1.313793     4.331792
min          1.000000          1.000000           0.000000     1.000000
25%          1.000000          1.000000           1.000000     6.000000
50%          1.000000          8.000000           1.000000    10.000000
75%          1.000000         12.000000           2.000000    13.000000
max          6.000000         18.000000           9.000000    17.000000

       Daytime/evening attendance  Previous qualification  Nacionality  \
count                 4424.000000             4424.000000  4424.000000
mean                     0.890823                2.531420     1.254521
std                      0.311897                3.963707     1.748447
min                      0.000000                1.000000     1.000000
25%                      1.000000                1.000000     1.000000
50%                      1.000000                1.000000     1.000000
75%                      1.000000                1.000000     1.000000
max                      1.000000               17.000000    21.000000

       Mother's qualification  Father's qualification  Mother's occupation  \
count             4424.000000             4424.000000          4424.000000
mean                12.322107               16.455244             7.317812
std                  9.026251               11.044800             3.997828
min                  1.000000                1.000000             1.000000
25%                  2.000000                3.000000             5.000000
50%                 13.000000               14.000000             6.000000
75%                 22.000000               27.000000            10.000000
max                 29.000000               34.000000            32.000000

       ...  Curricular units 1st sem (without evaluations)  \
count  ...                                     4424.000000
mean   ...                                        0.137658
std    ...                                        0.690880
min    ...                                        0.000000
25%    ...                                        0.000000
50%    ...                                        0.000000
75%    ...                                        0.000000
max    ...                                       12.000000

       Curricular units 2nd sem (credited)  \
count                          4424.000000
mean                              0.541817
std                               1.918546
min                               0.000000
25%                               0.000000
50%                               0.000000
75%                               0.000000
max                              19.000000

       Curricular units 2nd sem (enrolled)  \
count                          4424.000000
mean                              6.232143
std                               2.195951
min                               0.000000
25%                               5.000000
50%                               6.000000
75%                               7.000000
max                              23.000000

       Curricular units 2nd sem (evaluations)  \
count                             4424.000000
mean                                 8.063291
std                                  3.947951
min                                  0.000000
25%                                  6.000000
50%                                  8.000000
75%                                 10.000000
max                                 33.000000

       Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
count                          4424.000000                       4424.000000
mean                              4.435805                         10.230206
std                               3.014764                          5.210808
min                               0.000000                          0.000000
25%                               2.000000                         10.750000
50%                               5.000000                         12.200000
75%                               6.000000                         13.333333
max                              20.000000                         18.571429

       Curricular units 2nd sem (without evaluations)  Unemployment rate  \
count                                     4424.000000        4424.000000
mean                                         0.150316          11.566139
std                                          0.753774           2.663850
min                                          0.000000           7.600000
25%                                          0.000000           9.400000
50%                                          0.000000          11.100000
75%                                          0.000000          13.900000
max                                         12.000000          16.200000

       Inflation rate          GDP
count     4424.000000  4424.000000
mean         1.228029     0.001969
std          1.382711     2.269935
min         -0.800000    -4.060000
25%          0.300000    -1.700000
50%          1.400000     0.320000
75%          2.600000     1.790000
max          3.700000     3.510000

[8 rows x 34 columns]

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [5]:
#Review summarized overview
SummaryOverview=df.describe()
print(SummaryOverview)

       Marital status  Application mode  Application order       Course  \
count     4424.000000       4424.000000        4424.000000  4424.000000
mean         1.178571          6.886980           1.727848     9.899186
std          0.605747          5.298964           1.313793     4.331792
min          1.000000          1.000000           0.000000     1.000000
25%          1.000000          1.000000           1.000000     6.000000
50%          1.000000          8.000000           1.000000    10.000000
75%          1.000000         12.000000           2.000000    13.000000
max          6.000000         18.000000           9.000000    17.000000

       Daytime/evening attendance  Previous qualification  Nacionality  \
count                 4424.000000             4424.000000  4424.000000
mean                     0.890823                2.531420     1.254521
std                      0.311897                3.963707     1.748447
min                      0.000000                1.000000     1.000000
25%                      1.000000                1.000000     1.000000
50%                      1.000000                1.000000     1.000000
75%                      1.000000                1.000000     1.000000
max                      1.000000               17.000000    21.000000

       Mother's qualification  Father's qualification  Mother's occupation  \
count             4424.000000             4424.000000          4424.000000
mean                12.322107               16.455244             7.317812
std                  9.026251               11.044800             3.997828
min                  1.000000                1.000000             1.000000
25%                  2.000000                3.000000             5.000000
50%                 13.000000               14.000000             6.000000
75%                 22.000000               27.000000            10.000000
max                 29.000000               34.000000            32.000000

       ...  Curricular units 1st sem (without evaluations)  \
count  ...                                     4424.000000
mean   ...                                        0.137658
std    ...                                        0.690880
min    ...                                        0.000000
25%    ...                                        0.000000
50%    ...                                        0.000000
75%    ...                                        0.000000
max    ...                                       12.000000

       Curricular units 2nd sem (credited)  \
count                          4424.000000
mean                              0.541817
std                               1.918546
min                               0.000000
25%                               0.000000
50%                               0.000000
75%                               0.000000
max                              19.000000

       Curricular units 2nd sem (enrolled)  \
count                          4424.000000
mean                              6.232143
std                               2.195951
min                               0.000000
25%                               5.000000
50%                               6.000000
75%                               7.000000
max                              23.000000

       Curricular units 2nd sem (evaluations)  \
count                             4424.000000
mean                                 8.063291
std                                  3.947951
min                                  0.000000
25%                                  6.000000
50%                                  8.000000
75%                                 10.000000
max                                 33.000000

       Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
count                          4424.000000                       4424.000000
mean                              4.435805                         10.230206
std                               3.014764                          5.210808
min                               0.000000                          0.000000
25%                               2.000000                         10.750000
50%                               5.000000                         12.200000
75%                               6.000000                         13.333333
max                              20.000000                         18.571429

       Curricular units 2nd sem (without evaluations)  Unemployment rate  \
count                                     4424.000000        4424.000000
mean                                         0.150316          11.566139
std                                          0.753774           2.663850
min                                          0.000000           7.600000
25%                                          0.000000           9.400000
50%                                          0.000000          11.100000
75%                                          0.000000          13.900000
max                                         12.000000          16.200000

       Inflation rate          GDP
count     4424.000000  4424.000000
mean         1.228029     0.001969
std          1.382711     2.269935
min         -0.800000    -4.060000
25%          0.300000    -1.700000
50%          1.400000     0.320000
75%          2.600000     1.790000
max          3.700000     3.510000

[8 rows x 34 columns]

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [12]:
#For my question I do not need 'Application mode', 'Application order',
#'Previous qualification', 'Curricular units 1st sem (credited)'',
#'Curricular units 1st sem (enrolled)','Curricular units 1st sem (evaluations)'
#'Curricular units 1st sem (approved)','Curricular units 1st sem (grade)',
#'Curricular units 1st sem (without evaluations)', 'Curricular units 2nd sem (credited)',
#'Curricular units 2nd sem (enrolled)', 'Curricular units 2nd sem (evaluations)',
#'Curricular units 2nd sem (approved)','Curricular units 2nd sem (grade)', 'Curricular units 2nd sem (without evaluations)',

#del df['Application mode']
#del df['Application order']
del df['Previous qualification']
del df['Curricular units 1st sem (credited)']
del df['Curricular units 1st sem (enrolled)']
del df['Curricular units 1st sem (evaluations)']
del df['Curricular units 1st sem (approved)']
del df['Curricular units 1st sem (grade)']
del df['Curricular units 1st sem (without evaluations)']
del df['Curricular units 2nd sem (credited)']
del df['Curricular units 2nd sem (enrolled)']
del df['Curricular units 2nd sem (evaluations)']
del df['Curricular units 2nd sem (approved)']
del df['Curricular units 2nd sem (grade)']
del df['Curricular units 2nd sem (without evaluations)']
print(df)

      Marital status  Course  Daytime/evening attendance  Nacionality  \
0                  1       2                           1            1
1                  1      11                           1            1
2                  1       5                           1            1
3                  1      15                           1            1
4                  2       3                           0            1
...              ...     ...                         ...          ...
4419               1      15                           1            1
4420               1      15                           1           19
4421               1      12                           1            1
4422               1       9                           1            1
4423               1      15                           1            9

      Mother's qualification  Father's qualification  Mother's occupation  \
0                         13                      10                    6
1                          1                       3                    4
2                         22                      27                   10
3                         23                      27                    6
4                         22                      28                   10
...                      ...                     ...                  ...
4419                       1                       1                    6
4420                       1                       1                   10
4421                      22                      27                   10
4422                      22                      27                    8
4423                      23                      27                    6

      Father's occupation  Displaced  Educational special needs  Debtor  \
0                      10          1                          0       0
1                       4          1                          0       0
2                      10          1                          0       0
3                       4          1                          0       0
4                      10          0                          0       0
...                   ...        ...                        ...     ...
4419                    5          0                          0       0
4420                   10          1                          0       1
4421                   10          1                          0       0
4422                    5          1                          0       0
4423                   10          1                          0       0

      Tuition fees up to date  Gender  Scholarship holder  Age at enrollment  \
0                           1       1                   0                 20
1                           0       1                   0                 19
2                           0       1                   0                 19
3                           1       0                   0                 20
4                           1       0                   0                 45
...                       ...     ...                 ...                ...
4419                        1       1                   0                 19
4420                        0       0                   0                 18
4421                        1       0                   1                 30
4422                        1       0                   1                 20
4423                        1       0                   0                 22

      International  Unemployment rate  Inflation rate   GDP    Target
0                 0               10.8             1.4  1.74   Dropout
1                 0               13.9            -0.3  0.79  Graduate
2                 0               10.8             1.4  1.74   Dropout
3                 0                9.4            -0.8 -3.12  Graduate
4                 0               13.9            -0.3  0.79  Graduate
...             ...                ...             ...   ...       ...
4419              0               15.5             2.8 -4.06  Graduate
4420              1               11.1             0.6  2.02   Dropout
4421              0               13.9            -0.3  0.79   Dropout
4422              0                9.4            -0.8 -3.12  Graduate
4423              1               12.7             3.7 -1.70  Graduate

[4424 rows x 20 columns]

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [16]:
#Data is hard to follow with numerical values instead of named values. Will replace number values with names
#update marital Status
df['Marital status'] = df['Marital status']. relplace(['1', '2', '3', '4', '5', '6'],['Single', 'Married', 'Widower', 'Divorced', 'Facto Union', 'Legally Separated'])
#update Nationality                                                              
df['Nacionality'] = df['Nacionality']. relplace(['1', '2', '3', '4', '5', '6', '7', '8', '9','10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20','21'],['Portuguese', 'German', 'Spanish', 'Italian', 'Dutch', 'English', 'Lithuanian', 'Angolan', 'Cape Verdean', 'Guinean', 'Mozambican', 'Santomean', 'Turkish', 'Brazilian', 'Romanian', 'Moldova', 'Mexican', 'Ukrainian', 'Russian', 'Cuban', 'Colombian'])
#update displaced
df['Displaced'] = df['Displaced']. relplace(['0', '1'],['No', 'Yes'])
#update Gender
df['Gender'] = df['Gender']. relplace(['0', '1'],['Female', 'Male'])
#update Scholarship holder                                                                                                    
df['Scholarship holder'] = df['Scholarship holder']. relplace(['0', '1'],['No', 'Yes'])
#update mother Qualifications                                                                                                                           
df["Mother's qualification"] = df["Mother's qualification"]. relplace(['1', '2', '3', '4', '5', '6', '7', '8', '9','10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34'],['Secondary Education—12th Year of Schooling or Equivalent', 'Higher Education—bachelor’s degree', 'Higher Education—degree', 'Higher Education—master’s degree', 'Higher Education—doctorate', 'Frequency of Higher Education', '12th Year of Schooling—not completed', '11th Year of Schooling not completed', '7th Year (Old)', 'Other—11th Year of Schooling', '2nd year complementary high school course', '10th Year of Schooling', 'General commerce course', 'Basic Education 3rd Cycle (9th/10th/11th Year) or Equivalent', 'Complementary High School Course', 'Technical-professional course', 'Complementary High School Course—not concluded', '7th year of schooling', '2nd cycle of the general high school course', '9th Year of Schooling—not completed', '8th year of schooling', 'General Course of Administration and Commerce', 'Supplementary Accounting and Administration','Unknown', 'Cannot read or write', 'Can read without having a 4th year of schooling', 'Basic education 1st cycle (4th/5th year) or equivalent', 'Basic Education 2nd Cycle (6th/7th/8th Year) or equivalent', 'Technological specialization course', 'Higher education—degree (1st cycle)', 'Specialized higher studies course', 'Professional higher technical course', 'Higher Education—master’s degree', 'Higher Education—doctorate'])
#update father qualifications                                                               
df["father's qualification"] = df["fathers's qualification"]. relplace(['1', '2', '3', '4', '5', '6', '7', '8', '9','10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34'],['Secondary Education—12th Year of Schooling or Equivalent', 'Higher Education—bachelor’s degree', 'Higher Education—degree', 'Higher Education—master’s degree', 'Higher Education—doctorate', 'Frequency of Higher Education', '12th Year of Schooling—not completed', '11th Year of Schooling not completed', '7th Year (Old)', 'Other—11th Year of Schooling', '2nd year complementary high school course', '10th Year of Schooling', 'General commerce course', 'Basic Education 3rd Cycle (9th/10th/11th Year) or Equivalent', 'Complementary High School Course', 'Technical-professional course', 'Complementary High School Course—not concluded', '7th year of schooling', '2nd cycle of the general high school course', '9th Year of Schooling—not completed', '8th year of schooling', 'General Course of Administration and Commerce', 'Supplementary Accounting and Administration','Unknown', 'Cannot read or write', 'Can read without having a 4th year of schooling', 'Basic education 1st cycle (4th/5th year) or equivalent', 'Basic Education 2nd Cycle (6th/7th/8th Year) or equivalent', 'Technological specialization course', 'Higher education—degree (1st cycle)', 'Specialized higher studies course', 'Professional higher technical course', 'Higher Education—master’s degree', 'Higher Education—doctorate'])
#update Mother occupation                                                                                                                                                 
df["Mother's occupation"] = df["Mother's occupation"]. relplace(['1', '2', '3', '4', '5', '6', '7', '8', '9','10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45'],['Student', 'Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers', 'Specialists in Intellectual and Scientific Activities', 'Intermediate Level Technicians and Professions', 'Administrative staff', 'Personal Services, Security and Safety Workers, and Sellers', 'Farmers and Skilled Workers in Agriculture, Fisheries, and Forestry', 'Skilled Workers in Industry, Construction, and Craftsmen', 'Installation and Machine Operators and Assembly Workers', 'Unskilled Workers', 'Armed Forces Professions', 'Other Situation', 'blank', 'Armed Forces Officers', 'Armed Forces Sergeants', 'Other Armed Forces personnel', 'Directors of administrative and commercial services', 'Hotel, catering, trade, and other services directors', 'Specialists in the physical sciences, mathematics, engineering, and related techniques', 'Health professionals', 'Teachers',  'Specialists in finance, accounting, administrative organization, and public and commercial relations', 'Intermediate level science and engineering technicians and professions', 'Technicians and professionals of intermediate level of health', 'Intermediate level technicians from legal, social, sports, cultural, and similar services', 'Information and communication technology technicians', 'Office workers, secretaries in general, and data processing operators', 'Data, accounting, statistical, financial services, and registry-related operators', 'Other administrative support staff', 'Personal service workers', 'Sellers', 'Personal care workers and the like', 'Protection and security services personnel', 'Market-oriented farmers and skilled agricultural and animal production workers', 'Farmers, livestock keepers, fishermen, hunters and gatherers, and subsistence', 'Skilled construction workers and the like, except electricians', 'Skilled workers in metallurgy, metalworking, and similar', 'Skilled workers in electricity and electronics', 'Workers in food processing, woodworking, and clothing and other industries and crafts', 'Fixed plant and machine operators', 'Assembly workers', 'Vehicle drivers and mobile equipment operators', 'Unskilled workers in agriculture, animal production, and fisheries and forestry', 'Unskilled workers in extractive industry, construction, manufacturing, and transport', 'Meal preparation assistants', 'Street vendors (except food) and street service providers'])
 #update father occupation                                                                                                                                                    
df["Father's occupation"] = df["Father's occupation"]. relplace(['1', '2', '3', '4', '5', '6', '7', '8', '9','10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45'],['Student', 'Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers', 'Specialists in Intellectual and Scientific Activities', 'Intermediate Level Technicians and Professions', 'Administrative staff', 'Personal Services, Security and Safety Workers, and Sellers', 'Farmers and Skilled Workers in Agriculture, Fisheries, and Forestry', 'Skilled Workers in Industry, Construction, and Craftsmen', 'Installation and Machine Operators and Assembly Workers', 'Unskilled Workers', 'Armed Forces Professions', 'Other Situation', 'blank', 'Armed Forces Officers', 'Armed Forces Sergeants', 'Other Armed Forces personnel', 'Directors of administrative and commercial services', 'Hotel, catering, trade, and other services directors', 'Specialists in the physical sciences, mathematics, engineering, and related techniques', 'Health professionals', 'Teachers',  'Specialists in finance, accounting, administrative organization, and public and commercial relations', 'Intermediate level science and engineering technicians and professions', 'Technicians and professionals of intermediate level of health', 'Intermediate level technicians from legal, social, sports, cultural, and similar services', 'Information and communication technology technicians', 'Office workers, secretaries in general, and data processing operators', 'Data, accounting, statistical, financial services, and registry-related operators', 'Other administrative support staff', 'Personal service workers', 'Sellers', 'Personal care workers and the like', 'Protection and security services personnel', 'Market-oriented farmers and skilled agricultural and animal production workers', 'Farmers, livestock keepers, fishermen, hunters and gatherers, and subsistence', 'Skilled construction workers and the like, except electricians', 'Skilled workers in metallurgy, metalworking, and similar', 'Skilled workers in electricity and electronics', 'Workers in food processing, woodworking, and clothing and other industries and crafts', 'Fixed plant and machine operators', 'Assembly workers', 'Vehicle drivers and mobile equipment operators', 'Unskilled workers in agriculture, animal production, and fisheries and forestry', 'Unskilled workers in extractive industry, construction, manufacturing, and transport', 'Meal preparation assistants', 'Street vendors (except food) and street service providers'])
                                                                                                                                                  
#update educational needs                                                                                                                                                    
df['Educational special needs'] = df['Educational special needs']. relplace(['0', '1'],['No', 'Yes'])
                                                                                                           
#update Tuition fees                                                                                                                                                   
df['Tuition fees up to date'] = df['Tuition fees up to date']. relplace(['0', '1'],['No', 'Yes'])

#update course                                                                                                                                                   
df['Course'] = df['Course']. relplace(['1', '2', '3', '4', '5', '6', '7', '8', '9','10', '11', '12', '13', '14', '15', '16', '17'],['Biofuel Production Technologies', 'Animation and Multimedia Design', 'Social Service', 'Agronomy', 'Communication Design', 'Veterinary Nursing', 'Informatics Engineering', 'Equiniculture', 'Management', 'Social Service', 'Tourism', 'Nursing', 'Oral Hygiene', 'Advertising and Marketing Management', 'Journalism and Communication', 'Basic Education', 'Management'])
                                                                                        
#Update Evening vs Daytime class                                                                                                                                                   
df['Daytime/evening attendance'] = df['Daytime/evening attendance']. relplace(['0', '1'],['Evening', 'Daytime'])                                                                                   
print (df)

AttributeError: 'Series' object has no attribute 'relplace'

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset? I had muliple instances of dirty data, including missing fields, spacing issues, unnecessary data, fields that are confusing without headers. However doing the clean up did assist with my understanding of my data. 
2. Did the process of cleaning your data give you new insights into your dataset? yes, my data is much easier to read and collect useful information to review the question being reviewed.
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations? Next time I will pick a data set that didnt replace strings with numerical data points.